html {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    background-color: #1B2650;
    color: #f6f6f6;
    text-align: center;
}

.game-options {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.player-buttons {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-top: 16px;
    border: white 1px solid;
    border-radius: 1.5em;
    padding: 36px;
}

.computer-choice {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-top: 16px;
    border: white 1px solid;
    border-radius: 1.5em;
    padding: 36px;
}

.bot-rock,
.bot-paper,
.bot-scissors {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.5em;
    padding: 16px;
    width: 64px;
    transition: ease 0.7s;
}

.result {
    margin-top: 32px;
    font-size: 1.25em;
    font-weight: 800;
}

.result-text {
    font-size: 1em;
    font-weight: 650;
}

.rock-button,
.paper-button,
.scissors-button {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.5em;
    padding: 16px;
    width: 64px;
    transition: ease 0.7s;
}

.rock-button:hover,
.paper-button:hover,
.scissors-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    border:rgba(255, 255, 255, 1) 1px solid;
}

.player-score-display,
.computer-score-display {
    font-size: 2em;
}

.end-display {
    border: grey 1px solid;
    border-radius: 1em;
    width: 600px;
    height: 230px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(184, 184, 243, 1);
    display: none;
}

.end-display-status {
    font-size: 4em;
    color: rgb(49, 49, 49);
    margin-top: 0.3em;
}

.end-display-msg {
    font-size: 1.5em;
    color: rgb(49, 49, 49);
}

.replay-game {
    font-size: 2.25em;
    margin-top: 16px;
    color: rgb(49, 49, 49);
    cursor: pointer;
}