html {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    background-color: #339989;
    color: #131515;
    text-align: center;
}

.game-options {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.player-buttons {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-top: 16px;
    border: #2B2C28 2px solid;
    border-radius: 1.5em;
    padding: 36px;
    flex-wrap: wrap;
}

.computer-choice {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-top: 16px;
    border: #2B2C28 2px solid;
    border-radius: 1.5em;
    padding: 36px;
    flex-wrap: wrap;
}

.bot-rock,
.bot-paper,
.bot-scissors {
    background-color: #131515;
    color: #7DE2D1;
    border-radius: 0.5em;
    padding: 16px;
    width: 64px;
    transition: ease 0.7s;
}

.result {
    margin-top: 32px;
    font-size: 1.25em;
    font-weight: 800;
}

.result-text {
    font-size: 1em;
    font-weight: 650;
}

.rock-button,
.paper-button,
.scissors-button {
    background-color: #131515;
    color: #7DE2D1;
    border-radius: 0.5em;
    padding: 16px;
    width: 64px;
    transition: ease 0.7s;
}

.rock-button:hover,
.paper-button:hover,
.scissors-button:hover {
    background-color: #2B2C28;
    cursor: pointer;
    border: #FFFAFB 1px solid;
}

.player-score-display,
.computer-score-display {
    font-size: 2em;
}

.end-display {
    border: #FFFAFB 5px solid;
    border-radius: 1em;
    width: 600px;
    height: 230px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131515;
    display: none;
}

.end-display-status {
    font-size: 4em;
    color: #339989;
    margin-top: 0.3em;
}

.end-display-msg {
    font-size: 1.5em;
    color: #339989;
}

.replay-game {
    font-size: 2.25em;
    margin-top: 16px;
    color: #FFFAFB;
    cursor: pointer;
}
